<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adopt us</title>
    <link rel="icon" href="/images/logo-icon.ico" />
    <link rel="stylesheet" href="/css/animation.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img 
            class="animate-up" 
            id="logo" 
            src="/images/dog.png" 
            alt="Logomarca de Happy" />
          
          <div class="location animate-up">
            <!-- CONTAINER GENÉRICO -->
            <strong>Humaitá</strong>
            <p>São Vicente</p>
          </div>
        
        </header>

        <main>
          <h1 class="animate-up">Dê um lar para um pet.</h1>

          <section class="visit">
            <p class="animate-up">Encontre seu pet perdido ou faça um novo amigo.</p>

            <a href="/pets" title="Encontrar pets" class="animate-up">
              <!-- title é um atributo global, para motores de busca -->
              <img src="/images/arrow.svg" alt="ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
